body {
    background-color: #222;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    min-height: 100vh;
}

h1 {
    color: #333;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    font-size: 8rem;
    position: relative;
    top: -10vh;
}

@media screen and (max-width: 1000px) {
    h1 {
        font-size: 6rem;
    }
}

@media screen and (max-width: 730px) {
    h1 {
        font-size: 4rem;
    }
}

@media screen and (max-width: 510px) {
    h1 {
        font-size: 2.5rem;
    }
}

h1::after {
    content: '前端开发工程师';
    color: transparent;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-clip-path: ellipse(11% 78% at 0% 50%);
    clip-path: ellipse(
        11% 78% at 0% 50%
    ); /* 区域剪切，椭圆，ellipse(横半轴大小 竖半轴大小 at 轴心坐标) */
    /* 设置为 11%和78% 以实现两个目的：
            1. 遮罩与文字大小自适应
            2. 遮罩椭圆即为圆形（盒子是宽:高=7:1） */
    -webkit-animation: spotlight 5s infinite;
    animation: spotlight 5s infinite;

    background-image: url('bg.jpg');
    background-size: contain;

    -webkit-background-clip: text;
    background-clip: text;
}

@-webkit-keyframes spotlight {
    0% {
        -webkit-clip-path: ellipse(11% 78% at 0% 50%);
        clip-path: ellipse(11% 78% at 0% 50%);
    }
    50% {
        -webkit-clip-path: ellipse(11% 78% at 100% 50%);
        clip-path: ellipse(11% 78% at 100% 50%);
    }
    100% {
        -webkit-clip-path: ellipse(11% 78% at 0% 50%);
        clip-path: ellipse(11% 78% at 0% 50%);
    }
}

@keyframes spotlight {
    0% {
        -webkit-clip-path: ellipse(11% 78% at 0% 50%);
        clip-path: ellipse(11% 78% at 0% 50%);
    }
    50% {
        -webkit-clip-path: ellipse(11% 78% at 100% 50%);
        clip-path: ellipse(11% 78% at 100% 50%);
    }
    100% {
        -webkit-clip-path: ellipse(11% 78% at 0% 50%);
        clip-path: ellipse(11% 78% at 0% 50%);
    }
}
